<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/techFragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="${action}"
                  th:object="${addCompanyForm}" method="post" class="form-horizontal"
                  role="form">
                <h2>Setup Company</h2>
                <fieldset th:replace="fragments/addCompanyFragments :: companyForm">
                </fieldset>

                <fieldset th:replace="fragments/addCompanyFragments :: userForm">
                </fieldset>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Setup Company</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>