<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/customerFragments :: head"></head>

<body class="container">
<div th:replace="fragments/customerFragments :: masthead"></div>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <form autocomplete="off"
                  th:object="${editUser}" method="post" class="form-horizontal"
                  role="form">


                <fieldset>
                    <legend>Edit User:</legend>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="text" th:field="*{fname}" placeholder="First Name"
                                   class="form-control" th:value="${editUser.fname}" /> <label
                                th:if="${#fields.hasErrors('fname')}" th:errors="*{fname}"
                                class="validation-message"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="text" th:field="*{lname}" placeholder="Last Name"
                                   class="form-control" th:value="${editUser.lname}" /> <label
                                th:if="${#fields.hasErrors('lname')}" th:errors="*{lname}"
                                class="validation-message"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="email" th:field="*{email}" placeholder="Email"
                                   class="form-control" th:value="${editUser.email}" /> <label
                                th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                class="validation-message"></label>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="text" th:field="*{title}" placeholder="Title"
                                   class="form-control" th:value="${editUser.title}" /> <label
                                th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                                class="validation-message"></label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="password" name="password"
                                   placeholder="Password" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="text" th:field="*{office}" placeholder="Office Number or Room"
                                   class="form-control" th:value="${editUser.office}" /> <label
                                th:if="${#fields.hasErrors('office')}" th:errors="*{office}"
                                class="validation-message"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="text" th:field="*{companyUsername}" placeholder="Company Username"
                                   class="form-control" th:value="${editUser.companyUsername}" /> <label
                                th:if="${#fields.hasErrors('companyUsername')}" th:errors="*{companyUsername}"
                                class="validation-message"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="text" th:field="*{userPhone}" placeholder="Phone"
                                   class="form-control" th:value="${editUser.userPhone}" /> <label
                                th:if="${#fields.hasErrors('userPhone')}" th:errors="*{userPhone}"
                                class="validation-message"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="text" th:field="*{cellPhone}" placeholder="Cell Phone"
                                   class="form-control" th:value="${editUser.cellPhone}" /> <label
                                th:if="${#fields.hasErrors('cellPhone')}" th:errors="*{cellPhone}"
                                class="validation-message"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <label th:laberfor="*{canText}">Can Text</label>
                            <input type="checkbox" th:field="*{canText}" placeholder="Can Text"
                                   class="form-control" /> <label
                                th:if="${#fields.hasErrors('canText')}" th:errors="*{canText}"
                                class="validation-message"></label>
                        </div>
                    </div>

                </fieldset>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Update User</button>
                    </div>
                </div>
            </form>
        </div>
        <div th:replace="fragments/customerFragments:: side-navigation" class="col-sm-3 sidenav" >
        </div>
    </div>
</div>

<footer th:replace="fragments/techFragments:: footer"></footer>
</body>
</html>