<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/customerFragments :: head"></head>

<body class="container">
<div th:replace="fragments/customerFragments :: masthead"></div>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">

            <p><strong>Tickets</strong></p>
            <p th:unless="${company.tickets} and ${company.tickets.size()}">No tickets found<br/></p>

            <table th:if="${company.tickets} and ${company.tickets.size()}"  class="table">
                <thead>
                <th>Ticket #</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Status</th>
                </thead>
                <tr th:each="ticket : ${company.tickets}">
                    <td><a th:href="@{|/customer/tickets/${ticket.id}|}" th:text="${ticket.id}"></a></td>
                    <td th:text="${ticket.description}"></td>
                    <td th:text="@{|${ticket.owner.userInfo.fname} ${ticket.owner.userInfo.lname}|}"></td>
                    <td th:text="${ticket.status.status}"></td>
                </tr>
            </table>
            <p><a th:href="@{|/customer/tickets/add_ticket|}" >Add Ticket</a></p>

        </div>

        <div th:replace="fragments/customerFragments:: side-navigation" class="col-sm-3 sidenav" >
        </div>
    </div>
</div>

<footer th:replace="fragments/techFragments:: footer"></footer>
</body>
</html>