<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/techFragments :: head"></head>

<body class="container">


<div th:unless="${isTech}"><div th:replace="fragments/customerFragments :: masthead"></div></div>

<div th:if="${isTech}"><div th:replace="fragments/techFragments :: masthead"></div></div>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <form autocomplete="off"
                  th:object="${editUserForm}" method="post" class="form-horizontal"
                  role="form">


                <fieldset>
                    <legend>Change Password:</legend>
                    <div th:if="${errors}" class="form-group">
                        <div class="col-sm-9">
                            <label th:text="${errors}" class="validation-message"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="password" name="password"
                                   placeholder="Password" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="password" name="confirmPassword"
                                   placeholder="Confirm Password" class="form-control" />
                        </div>
                    </div>
                </fieldset>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                        <button type="cancel" class="btn btn-primary btn-block">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="fragments/techFragments:: footer"></footer>
</body>
</html>