<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="techFragments :: head"></head>

<body class="container">
<div th:replace="techFragments :: welcome"></div>
<nav th:replace="techFragments :: navigation"></nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <table>
                <tr th:each="company : ${companies}">
                    <td th:text="${company.companyInfo.name}">1</td>
                </tr>
            </table>
        </div>

        <div class="col-sm-3 sidenav">

            <ul>
                <li>Company</li>
                <ul>
                    <li>Site</li>
                    <li>User</li>
                    <li>Computer</li>
                </ul>
                <li>Status</li>
                <li>Tech</li>
            </ul>
        </div>
    </div>
</div>
<p>&nbsp;</p>



<p>&nbsp;</p>

<p><a href="/admin/add_company">Add Company</a></p>

<footer class="container-fluid">
    <p>Footer Text</p>
</footer>
</body>
</html>