<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Tickets</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div th:fragment="masthead">
    <h1 th:text="${techCompany.companyInfo.name}"></h1>
    <hr />
    <nav>
        <a href="/">Home</a> |
        <a href="/logout">Logout</a> |
        <a href="/profile">My Profile</a> |
        <a href="/profile/change_password">Change Password</a>
    </nav>
    <hr />
    <h3 th:if="${company}"><a th:href="@{|/tech/${company.id}|}" th:text="${company.companyInfo.name}"></a></h3>
</div>

<div th:fragment="side-navigation" class="col-sm-3 sidenav" >
    <div th:if="${isAdmin}">
        <h4>Admin Links</h4>
        <p><a href="/admin/add_company">Add Company</a></p>
        <p><a href="/admin/techs">Add/Edit Tech</a></p>
        <p>&nbsp;</p>
    </div>
    <div>
        <h4>Tech Links</h4>
        <p th:if="${company}">
            <a th:href="@{|/tech/${company.id}/tickets/|}">Tickets</a>
        </p>
        <p th:if="${company}">
            <a th:href="@{|/tech/${company.id}/sites/|}">Sites</a>
        </p>
        <p th:if="${company}">
            <a th:href="@{|/tech/${company.id}/users|}">Users</a>
        </p>
        <p th:if="${company}">
            <a th:href="@{|/tech/${company.id}/assets/|}">Assets</a>
        </p>
        <p>&nbsp;</p>
    </div>
</div>

<footer class="container-fluid" th:fragment="footer">
    <p>2018 &copy; <a href="http://houkstead.com">Houkstead</a></p>
</footer>

</body>
</html>